{% extends 'base.html' %}
{% block content %}
<div class="page">
<div class="welcome">
<p id="one">Это</p>
    <p id="two">персональный сайт</p>
    <p id="three">для ОИТа.</p>
</div>
    <a name="infa"></a>
<div class="info">

    {% load static %}
<p><img src="{% static 'pictures/images/gosling.jpg' %}" alt="My image" class="gosl"><p id="biginfo">Райан кто? Райан Гослинг</p>Ра́йан То́мас Го́слинг (англ. Ryan Thomas Gosling, род. 12 ноября 1980, Лондон, Онтарио, Канада) — канадский актёр. Известен по ролям в независимых фильмах и крупных студийных проектах разных жанров. Сборы фильмов с его участием составили свыше 1,9 миллиарда долларов. Обладатель многих наград[англ.], включая «Золотого глобуса», и номинант трёх «Оскаров» и одного BAFTA.
Гослинг родился и вырос в Канаде. Обрёл известность в 13 лет как ребёнок-актёр в программе телеканала Disney Channel «Клуб Микки Мауса» и появился в нескольких семейных передачах, в том числе «Боишься ли ты темноты?», «Мурашки» и «На волне успеха». Прорывом стала роль еврейского неонациста в фильме «Фанатик», а в романтической драме «Дневник памяти» Гослинг завоевал славу.
Гослинг сыграл в независимых драмах «Полу-Нельсон», за которую актёра номинировали на «Оскар» за лучшую мужскую роль; «Ларс и настоящая девушка» и «Валентинка». В 2011 году Гослинг снялся в трёх мейнстримных фильмах: романтической комедии «Эта дурацкая любовь», политической драме «Мартовские иды», и экшн-триллере «Драйв». После режиссёрского дебюта «Как поймать монстра» Гослинг сыграл в финансовой сатире «Игра на понижение», экшн-комедии «Славные парни» и романтическом мюзикле «Ла-Ла Ленд», принёсшем актёру статуэтку «Золотого глобуса» и вторую номинацию на «Оскар» за лучшую мужскую роль. Дальнейшее признание пришло к нему после научно-фантастического фильма «Бегущий по лезвию 2049» и байопика «Человек на Луне». В 2023 году Гослинг сыграл Кена в фэнтезийной комедии «Барби», ставшей самой кассовой картиной в его карьере.</p>
</div>
    </div>
{% endblock %}